# Dependencias
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Salidas de compilación
dist/
build/

# Configuración local / entornos
.env
.env.local
.env.*.local

# Ionic
.ionic/

# Capacitor
# Ignora los binarios y archivos generados al sincronizar
ios/
# ⚠️ Descomenta esta línea si NO quieres versionar el código nativo de Android
# android/

# Android Studio / Gradle
*.iml
.gradle/
local.properties
.idea/
*.log
captures/
outputs/

# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
 